@import './reset.css';

/* Formatting */
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

* { transition: 0.2s ease-in-out; }

/* Header */
header, header nav ul {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: blue;
  color: white;
  height: 75px;
  line-height: 75px;
  box-shadow: 1px 1px 2px #c5c5c5;
  a { text-decoration: none; } 
  h1 {
    margin-left: 50px;
    color: white;
  }
}

header a h1:hover {
  color: black
}

header nav ul {
  list-style: none;
  gap: 20px;
  margin: 0 50px;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover { color: black; }
  li div {
    cursor: pointer;
  }
}

/* Main */
#post-feed {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.new-post, .post { 
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #c5c5c5;
}

.new-post {
  margin-top: 20px;
  height: 120px;
  width: 100%;
  position: relative;
}

#new-post-text {
  resize: unset;
  max-height: 100px;
  margin: 0 25px 20px 20px;
  width: 950px;
}

.post {
  width: 100%;
  margin-top: 20px;
}

.new-post-buttons {
  margin-left: 15px;
  display: flex;
}

#new-file i {
  margin-top: 50px;
}

#new-file::-webkit-file-upload-button {
  visibility: hidden;
  margin: 0 -50px;
}

#post-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  width: 60px;
  text-align: center;
  background-color: blue;
  color: white;
}

#post-button:hover {
  background-color: #0000b8;
  color: #000;
  scale: 1.05;
}

/* Post Elements */
.post-format {
  position: relative;
  display: flex;
  width: 100%;
}

.icon {
  background-image: url(/fakebook/assets/media/favicon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50px;
  min-height: 50px;
  max-width: 50px;
  min-width: 50px;
  border-radius: 50%;
  margin: 10px 20px 10px 10px;
}

.username, .post-time {
  margin-top: 22px;
}

.username {
  margin-right: 1000px;
  font-weight: 750;
  min-width: 90%;
}

.post-time {
  position: absolute;
  top: 0;
  right: 2%;
  font-weight: 750;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 30px;
}

.post-text + .post-img {
  margin-top: 20px;
}

.post-img {
  align-self: start;
  max-width: 800px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #c5c5c5;
}

/* Pop-up */

#pop-up-modal {
  display: visible;
  display: flex;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 1px 1px 2px #c5c5c5;
  height: 300px;
  width: 500px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-modal {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #c5c5c5;
  font-size: 20px;
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  line-height: 25px;
  margin-left: auto;
}

#close-modal:hover {
  cursor: pointer;
}

.user-info-container {
  padding: 10px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}